<h1>Tags Usados</h1>
<br></br>
<table>
  <tr>
    <th>Nombre de los Tags</th>
  </tr>
 
  <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name %></td>
      <td><%= link_to 'Ver', tag_path(tag) %></td>
      <td><%= link_to 'Modificar', edit_tag_path(tag) %></td>
      <td><%= link_to 'Eliminar', tag_path(tag), method: :delete, 
      								data: {confirm: 'Esta seguro de eliminar este tag'} %></td>
    </tr>
  <% end %>
</table>
<br></br>
<%=link_to 'Crear nuevo Tag', new_tag_path %>